@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}


.marquee-track {
  display: flex;
  gap: 3rem;
  align-items: center;
  will-change: transform;
}
